<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
	<link rel='stylesheet' href='styles/styles.css'>
	<link rel="icon" href="icons/aleph.png">
</head>
<body ng-app='app'>
	<div ng-controller='RankingsCtrl' class='container'>
		<h1>Find Your Relative Steem Ranking</h1>
		<form role='form'>
			<div class='form-group'>
				<div class='input-group'>
					<input ng-model='rankingsAccount' class='form-control' />
					<span class='input-button-group'>
						<button ng-click='getAccount()' class='btn btn-default pull-right'>Search</button>
					</span>
				</div>
			</div>
		</form>
		<ul class='list-group'>
			<li ng-repeat="ranking in rankings" class='list-group-item'>
				<strong>@{{ranking.account}}:</strong>
				<span>{{ranking.rank}}</span>
			</li>
		</ul>
		<br>
		<br>
		<br>
		<br>
		<div id="wrap">
			<div class="box" >
				<a href='https://steemdata.com'>
					<img src='icons/steemdata.png' height="22" width="22"/> 
					<span>Backend by SteemData</span>
				</a>
				<br>
				<a href='https://steemit.com/@gutzofter'>
					<img src='icons/aleph.png' height="22" width="22"/>
					<span>Developed by @gutzofter</span>
				</a>
				<br>
				<br>
				<address>
					<a href="mailto:gutzofter@alephchain.com">gutzofter@alephchain.com</a> 
				</address>			
			</div>
		</div>
	</div>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
	<script>
		var app = angular.module('app',[])
		
		app.controller('RankingsCtrl', function($scope, $http) {
			
			$scope.getAccount = function() {
				if($scope.rankingsAccount) {
					$http.get('api/rankings', {params: { account: $scope.rankingsAccount }})
					.success(function(rankings) {
						$scope.rankings = rankings
					})

					$scope.rankingsAccount = null
				}
			}
		})
	</script>
</body>
</html>